.modal {
    &-content {
        border-radius: 16px;
    }

    &-header {
        border-bottom: 0;
        padding: 2rem;
    }

    &-title {
        margin-top: 0;
    }

    &-body {
        padding: 0 2rem 2rem 2rem;
    }
}