.ntg-homepage-banner {
    display: flex;
    background: linear-gradient(90deg, #101428 71.9%, #012B43 101.98%);
    color: $ntg-color-white;
    border-bottom: 8px solid $secondary;

    @include media-breakpoint-up(lg) {
        position: relative;
        min-height: 500px;
    }

    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }

    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 50%;
        }

        @include media-breakpoint-down(lg) {
            width: 100%;
            height: 200px;
        }
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background: linear-gradient(to right, transparent 90%, #012B43 100%);

        @include media-breakpoint-up(lg) {
            width: 50%;
            padding-right: 2rem;
        }

        @include media-breakpoint-down(lg) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        > * {
            color: inherit;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}