.ntg-stats {
    background-color: $secondary;
    color: $white;

    &__stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h3 {
            color: inherit;
            @include font-size($h1-font-size);
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    &__icon {
        height: 32px;
        width: auto;
        margin-bottom: 1rem;
    }

    &__description {
        @include font-size($font-size-sm);
        text-align: center;
    
        > * {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}