/*
-----------------------------
  Header
-----------------------------  
*/
.skip-links {
  position: relative;
  z-index: 10;
}

.skip-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links li {
  position: absolute;
}

.skip-links a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip-links a:focus,
.skip-links a:active {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  color: $ntg-color-white;
}

.sticky-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: 0.25s transform ease-in-out, 0.2s box-shadow ease-in-out;

  &.header-hide {
    transform: translateY(-100%);
  }

  &.header-scroll {

    .ntg-header__top {
      padding: 0.25rem 0;
    }

    .ntg-banner-alert {
      // display: none;
      visibility: hidden;
      width: 100%;
      position: absolute; //Hide the banner alert when header is sticky without effecting js height calc
    }

    .ntg-header__logo {
      width: 100px;

      img {
        width: 100%;
      }
    }

    .ntg-header__links a {
      font-size: 1rem;
      padding: .55rem 1.25rem;
    }

    .ntg-header__title {
      font-size: 1.2rem;
    }

    .ntg-header__search-desktop .input-group > .form-control + button {
      height: 35px;
    }

    .ntg-main-nav ul a {
      padding: 0.5rem 1rem;
    }

    box-shadow: 0 2px 8px rgba($black, 0.2);
  }
}

.ntg-header {
  background-color: $primary;

  &__top {
    padding: 1rem 0;
    transition: 0.2s padding ease-in-out;

    &-wrapper {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @include media-breakpoint-down(sm) {
      gap: 1rem;
    }
  }

  &__logo {
    width: 187px;
    // width: 100%;
    transition: 0.2s width ease-in-out;

    @include media-breakpoint-down(xl) {
      width: 150px;
    }

    @include media-breakpoint-down(sm) {
      width: 120px;
    }

    img {
      width: 100%;
        // transition: 1s width ease-in-out;

      @include media-breakpoint-down(sm) {
        height: 50px;
      }
    }
  }

  &__title {
    color: $white !important;
    @include font-size($h3-font-size);
    transition: 0.2s font-size ease-in-out;

    @include media-breakpoint-down(sm) {
      @include font-size($h4-font-size);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__links {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    li {
      &.active {
        a {
          color: $white;
          background-color: $ntg-cyan;
          font-weight: 700;
        }
      }
    }

    a {
      background-color: transparent;
      color: $white;
      padding: 0.75rem 1.25rem;
      border-radius: 10px;
      transition: 0.2s background-color ease-in-out, 0.2s font-size ease-in-out, 0.2s padding ease-in-out;

      @include media-breakpoint-down(xl) {
        font-size: $font-size-sm;
        padding: 0.75rem 1rem;
      }

      &:hover {
        color: $white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 3px;
      }

      &.report-incident-btn {
        background-color: $ntg-cyan;
        border: 2px solid transparent;

        &:hover {
          border-color: $white !important;
          text-decoration: none;
          background-color: transparent;
          color: $white;
        }
      }
    }
  }

  &__utility {
    display: flex;
  }

  &__search {
    &-mobile {
      background: none;
      border: none;
      padding: 0;
      width: 46px;
      height: 46px;

      @include media-breakpoint-up(lg) {
        display: none;
      }

      i {
        color: $white;
        @include font-size(22px);
        transition: 0.2s color ease-in-out;
      }

      &:hover {
        i {
          color: $ntg-sky-blue;
        }
      }
    }
  }

  &__mobile {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    > a {
      width: 46px;
      height: 46px;
      position: relative;
      display: block;

      // .mm-wrapper_opening & {
      //   span {
      //     opacity: 0;
      //   }

      //   &:before,
      //   &:after {
      //     transform: rotate(45deg);
      //     top: 50%;
      //     left: 15%;
      //     right: 15%;
      //   }

      //   &::after {
      //     transform: rotate(-45deg);
      //   }
      // }

      span,
      &::before,
      &::after {
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 25%;
        right: 25%;
        height: 3px;
        margin-top: -3px;
        transition: 0.2s background-color ease-in-out;
      }

      &::before,
      &::after {
        content: "";
        top: 30%;
      }

      &::after {
        top: 70%;
      }

      &:hover {
        span,
        &::before,
        &::after {
          background-color: $ntg-sky-blue;
        }
      }
    }
  }

  &__bottom {
    background-color: $white;
  }
}


.ntg-header__search-desktop,
.ntg-search-page__search {
  @include media-breakpoint-down(lg) {
    display: none;
  }

  .input-group {
    --input-border-radius: 6px;
    flex-wrap: nowrap;

    input[type="text"]::placeholder {
        font-weight: 700;
    }

    > .form-control {
      --input-padding-x: 1.5rem;
      width: 280px;
      padding-left: var(--input-padding-x);
      padding-right: var(--input-padding-x);
      font-size: $font-size-sm;
      border-top-left-radius: var(--input-border-radius);
      border-bottom-left-radius: var(--input-border-radius);
      
      
      // @include media-breakpoint-down(xxl) {
      //   width: 240px;
      // }

      @include media-breakpoint-down(xxl) {
        width: 200px;
      }

      + button {
        background-color: $ntg-sky-blue;
        width: 56px;
        height: 50px;
        border: none;
        border-top-right-radius: var(--input-border-radius);
        border-bottom-right-radius: var(--input-border-radius);
        transition: 0.2s background-color ease-in-out, 0.2s height ease-in-out;

        &:hover {
          background-color: tint-color($ntg-sky-blue, 35%);
        }

        // @include media-breakpoint-down(xxl) {
        //   width: 56px;
        // }

        i {
          color: #FFF;
        }
      }
    }
  }
}